################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LibsDataTransferTestApp/v15
/LibsDataTransferTestApp/bin/Debug
/LibsDataTransferTestApp/obj/Debug
